<!--
Home HTML Page


Revision History

- 6/23 - Summer - Create page with title.
- 6/26 - Summer - Create headers and fields for balances, add navigation bar, and create buttons for transactions.
- 7/2 -   Sean -  Changes to utilize base template and potential bootstrap
                features
- 7/3 - Keith - Rearranged balance and added transaction form
- 7/5 - Keith - Changed transfer and deposit to match models and to allow easy transition

To Do

- Transaction entry
- Button interaction/fields

-->


{% extends "base.html" %}

{% block content %}

        <div align="center" class="container">
            <h3>Hello, {{firstname}}! </h3>
            <br>
        </div>
        <div align="center" class="container">
            <h3>Checking Account</h3>
            <p>Balance: {{checking}}</p>
            <h3>Savings Account</h3>
            <p>Balance: {{savings}}</p>
            <p>Interest Earned: {{interest}}</p>
            <p>User ID: {{userid}}</p>
        </div>
		<br>
    <!-- Needs transaction entry field -->
    <form  method = "POST">
       
        <div class="container" align="center">
            <h3>Please Choose Your Account</h3>
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    name="accountRadio"
                    id="checkingRadio"
                    value="checking"
                    checked
                />
                <label class="form-check-label" for="checkingRadio">
                    Checking Account
                </label>
            </div>
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    name="accountRadio"
                    id="savingsRadio"
                    value="savings"
                />
                <label class="form-check-label" for="savingsRadio">
                    Savings Account
                </label>
            </div>
        </div>
        <div align="center">
            <label class="form-check-label" for="select">
                Initiate a transaction : 
            </label>
            <select id="transType" name="transType">
                <option value="deposit" selected>Deposit</option>
                <option value="withdrawal" >Withdrawal</option>
                <option value="transferChecking" >Transfer from Checkings to Savings</option>
                <option value="transferSavings" >Transfer from Savings to Checkings</option>
            </select><br>
            <div class="form-group col-xs-4">
                <label class="sr-only" for="InputAmount">Amount (in dollars)</label>
                <div class="input-group">
                    <div class="input-group-addon">$ </div>
                        <input type="number" class="form-control" id="InputAmount" name="InputAmount" placeholder="Amount" min="0" max="10000" >
                    <div class="input-group-addon">.00 </div>
                </div>
            </div>
            <button type="submit" >Submit</button>
        </div>
    </form>



            <br>
            <hr width="100">
            <br>

        
        <br>
        <p align="center">If you have any questions, concerns, or comments, you can reach our 24/7 hotline at 800-31-COBRA.</p>
{% endblock %}
