<!--
Home HTML Page


Revision History
- 6/23 - Summer - Create page with title.
- 6/26 - Summer - Create input fields and option to register.
- 7/2 -   Sean -  Changes to utilize base template and potential bootstrap
                features


To Do

- Backfill revision history

-->


{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        <h3 align="center">Login</h3>
        <div class="form-group">
            <label for="username">Username</label>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    required
                />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!--Link to Register-->
    <p id="intro">Don't have an account? <a href="/register">Register now!</a></p>

{% endblock %}
